<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refr.www" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".selectTemplate"
            android:label="Select Template" >
        </activity>
        <activity
            android:name=".preview"
            android:label="Preview" >
        </activity>
        <activity
            android:name=".selectReviewer"
            android:label="Select Reviewer" >

        </activity>
        <activity
            android:name=".notifications"
            android:label="Notifications" >
        </activity>

        <activity
            android:name=".Login"
            android:label="Log In" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
